[data-sc-moedict="terms-parent"] {
  vertical-align: middle;
}
[data-sc-moedict="traditional-term"] {
  background: #111;
  color: #e42566;
  border: 1px solid #454545;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 2px;
  font-size: 1.2em;
  margin-right: 6px;
}
[data-sc-moedict="simplified-term"] {
  background: #111;
  color: #257de4;
  border: 1px solid #454545;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 2px;
  font-size: 1.2em;
  margin-right: 6px;
}
[data-sc-moedict="alt-reading-parent"] {
  background: #111;
  font-size: 1.2em;
  border: 1px solid #454545;
  border-radius: 4px;
  vertical-align: middle;
  padding-block: 2px;
}
[data-sc-moedict="alt-reading-label"] {
  border-right: 1px solid #454545;
  padding-inline: 4px;
  color: #ababab;
}
[data-sc-moedict="alt-reading-content"] {
  color: #ddcd4b;
  padding-inline: 4px;
  font-family: sans-serif;
}
[data-sc-moedict="additional-fields-parent"] {
  padding-inline: 4px;
  border-radius: 4px;
  margin-top: 2px;
}
[data-sc-moedict="synonyms-label"] {
  background: #111;
  border: 1px solid #454545;
  border-radius: 4px;
  color: #71bafd;
  padding-inline: 4px;
  padding-block: 2px;
  margin-right: 4px;
}
[data-sc-moedict="synonyms-content"] {
  background: #111;
  border: 1px solid #454545;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 2px;
}
[data-sc-moedict="antonyms-label"] {
  background: #111;
  border: 1px solid #454545;
  border-radius: 4px;
  color: #fd7171;
  padding-inline: 4px;
  padding-block: 2px;
  margin-right: 4px;
}
[data-sc-moedict="antonyms-content"] {
  background: #111;
  border: 1px solid #454545;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 2px;
}
[data-sc-moedict="pos-entry-parent"] {
  margin-top: 2px;
}
[data-sc-moedict="pos-label"] {
  background: #111;
  border: 1px solid #454545;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 2px;
  color: white;
}
[data-sc-moedict="definition-entry-example-label"] {
  margin-inline: 4px;
  background: #522323;
  border: 1px solid #454545;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 2px;
  color: white;
}
[data-sc-moedict="definition-entry-example-content"] {
  color: #c39393;
}
[data-sc-moedict="meanings-parent"] {
  margin-top: 2px;
}
